<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rubber Stamp</title>
  <link rel="stylesheet" href="seal6.css">
</head>
<body>
  
  <div class="seal6box">
    <div class="seal6stamp">
        <div class="seal6role">MANAGER</div>
        <div class="seal6bank-name">Esaf Bank Anakkatty</div>
        <div class="seal6branch">Branch: 92880 92671</div>
      </div>
    <div class="seal6size">Rubber Stamp</div>
    </div>
</body>
</html>
