<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSB Bank Stamp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="stamp-container">
        <div class="text">
            <p>Without risk and responsibility on the Bank or any its officials. Customer Signature verified as per our records.</p>
        </div>
        <div class="bank-name">
            <img src="logo.png" alt="Logo">
            CSB BANK LTD.,
        </div>
        <div class="branch-info">
            Olavakkode Branch, Palakkad
        </div>
        <div class="authorized">
            Authorised Signatory
        </div>
    </div>
    <div class="footer">
        Colop Printer 35<br>
    </div>
    
</body>
</html>
