<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stamp Design</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="seal1box">
    <div class="seal1stamp">
        <div class="seal1branch-name">ESAF Small Finance Bank Ltd.<br><p>Kuzhalmannam Branch</p></div>
        <div class="seal1pay">PAY</div>
        <div class="seal1officer">Prescribed Officer</div>
    </div>
    <div class="price-info">
        Rubber Stamp<br>(Polimer Stamp)
    </div>
    </div>
</body>
</html>