<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="seal6.css">
</head>
<body>
    <div class="container">
    <div class="rect-stamp">
        <div class="top-text">Signature Verified</div>
        <div class="bottom-text">Sign and Emp ID.</div>
    </div>
    <div class="details">Colop Printer 20 <br>
        40mm x 20mm<br>
        Rs.368/-
    </div>
    </div>
</body>
</html>