.CSB-seal4-stamp {
  text-align: center;
}

.CSB-seal4-box {
  width: 30mm;
  height: 15mm;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.CSB-seal4-box .CSB-seal4-title {
  font-size: 11pt;
  font-weight: bold;
  margin: 0;
}

.CSB-seal4-box .CSB-seal4-line {
  width: 80%;
  height: 1px;
  border-bottom: 1px solid black;
}

.CSB-seal4-details {
  margin-top: 10px;
  font-size: 10pt;
  color: red;
}