<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stamp Design</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="seal2box">
    <div class="seal2stamp">
        <div class="seal2branch-name">ESAF Small Finance Bank Ltd.<br><p>Kuzhalmannam Branch</p></div>
        <div class="seal2pay">PAY HALF VALUE</div>
        <div class="seal2officer">Prescribed Officer</div>
    </div>
    <div class="details">Rubber Stamp</div>

    </div>
</body>
</html>