<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Stamp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="stamp">
        <div class="logo">
            <img src="logocsb.png" alt="Bank Logo">
            <div class="bank-name">CSB BANK LTD.,</div>
            <div class="branch-name">Olavakkode Br.</div>
        </div>
        <div class="title">Account Closed</div>
        <div class="details">
            Date & Time of Request Received from customer<br>
            Request Accepted by: Name.........................Emp Id :.......................<br>
            Date & Time of Execution in system..................................................<br>
            Request Executed by with Emp Id:....................................................<br>
            Unused Chq book destroyed: Y/N Cheque Nos.:.............................<br>
            Unused Debit Card destroyed: Y / N<br>
            Closure Payment Details:...................................................................<br>
            <span class="signature">
                Sign, Name, Emp ID of the BM MCSOP with date<br><br>
                .....................................................................................................
            </span>
        </div>
        <div class="footer">
            Colop Printer 60<br>
        </div>
    </div>
</body>
</html>
