<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stamp Design</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="seal3box">
        <div class="seal3stamp">
            <div class="seal3branch-name">ESAF Small Finance Bank Ltd.<br><p>Kuzhalmannam Branch</p></div>
            <div class="seal3pay">PAY HALF VALUE</div>
            <div class="seal3receiver">Receiver's Initials</div>
        </div>
        <div class="details" >Rubber Stamp</div>
        </div>
</body>
</html>