<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Duplicate DD</title>
  <link rel="stylesheet" href="seal9.css">
</head>
<body>
  <div class="stamp-container">
    <div class="stamp-box">
      <p class="one">Duplicate DD No :.......................issued in lieu</p>
      <p>of Original DD No :....................reported lost.</p>
    </div>
    <div class="stamp-info">
      <p>Colop Printer 25</p>
      
    </div>
  </div>
  <script src="seal9.js"></script>
</body>
</html>
