<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Closed Stamp</title>
    <link rel="stylesheet" href="seal5.css">
</head>
<body>
    <div class="stamp">
        <div class="title">THE FEDERAL BANK LTD.</div>
        <div class="branch">Papanaickenpalayam Branch</div>
        <div class="rectangle"></div>
        <div class="account-closed-on">ACCOUNT CLOSED ON </div>
    </div>
</body>
</html>
