<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Received Stamp</title>
  <link rel="stylesheet" href="seal10.css">
</head>
<body>
  <div class="stamp">
    <div class="header">
      <img src="logo.jpg" alt="Bank Logo"> 
      <div class="text">
        <p class="title">CSB Bank Ltd.,</p>
        <p class="branch">Olavakkode Branch, Palakkad</p>
      </div>
    </div>
    <div class="date-box">
      <p class="date" id="current-date"></p>
    </div>
    
    <div class="extra-lines">
      <p>TOO LATE FOR TODAY'S PROCESSING</p>
    </div>
  </div>
  <div class="details">
    Colop Printer 38 Dater 
  </div>
  <script src="seal10.js"></script>
</body>
</html>
