<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stop Payment Stamp</title>
    <link rel="stylesheet" href="seal11.css">
</head>
<body>
    <div class="stamp">
        <div class="branch">
            <img src="logo.jpg" alt="CSB Bank Logo" class="logo">
            <h3>CSB BANK LTD.,</h3>
          
        </div>
        <p >Olavakkode Branch, Palakkad</p>
        <div class="stop-payment">
            STOP PAYMENT
        </div>
        <div class="details">
            Date & Time of Receipt From Customer : <br>
            Request Accepted By (Emp ID) : <br>
            Date & Time of Execution in System : <br>
            Cheque Numbers Stopped : <br>
            Request Executed by (Emp ID) :
        </div>
    </div>
    <div class="last">
          <p>Colop Printer 55
        </p>
    </div>
</body>
</html>
