.CSB-seal3-stamp {
  /* width: 54mm;
  height: 33mm; */
  border: 3px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: black;
  padding: 3px;
}

.CSB-seal3-stamp .CSB-seal3-header {
  display: flex;
  width: 100%;
  margin-left: 3px;
}

.CSB-seal3-stamp .CSB-seal3-header img {
  width: 5mm;
  height: 5mm;
  margin-right: 5px;
  margin-top: 3px;
}

.CSB-seal3-stamp .CSB-seal3-header .CSB-seal3-text {
  text-align: left;
}

.CSB-seal3-stamp .CSB-seal3-header .CSB-seal3-text .CSB-seal3-title {
  font-family: Arial;
  font-size: 14.543pt;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

.CSB-seal3-stamp .CSB-seal3-header .CSB-seal3-text .CSB-seal3-branch {
  font-family: Arial, sans-serif;
  font-size: 8.9pt;
  font-weight: bold;
  margin: 0;
}

.CSB-seal3-stamp .CSB-seal3-date-box {
  width: 25mm;
  height: 9mm;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CSB-seal3-stamp .CSB-seal3-date-box .CSB-seal3-date {
  font-family: 'Swis721 Cn BT', sans-serif;
  font-size: 12pt;
  color: red;
}

.CSB-seal3-stamp .CSB-seal3-footer {
  text-align: center;
}

.CSB-seal3-stamp .CSB-seal3-footer .CSB-seal3-received {
  font-family: Arial, sans-serif;
  font-size: 13.404pt;
  font-weight: bold;
  margin: 0;
}

.CSB-seal3-details {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  color: red;
}

.CSB-seal3-stamp .CSB-seal3-extra-lines {
  width: 100%;
  text-align: left;
  font-size: 6.5pt;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.CSB-seal3-stamp .CSB-seal3-extra-lines p {
  margin: 0;
  line-height: 1.5;
}